<settings>
   <category label="Settings">
  	<setting id="use-meta" type="bool" label="Use Meta Data" default="true"/>
	<setting id="reverse-tv" type="bool" label="Newest TV Shows at top in episode lists?" default="false"/>
   </category>
   <category label="Login Data">
  	<setting id="TVLinks-username" type="text" label="Login:" default=""/>
	<setting id="TVLinks-password" type="text" label="Password:" default="" option="hidden"/>
	<setting id="TVLinks-premium" type="bool" label="Premium Account:" default="False" />
   </category>
   <category label="Download Locations">
	 <setting label="TV download location:" type="folder" id="tvdownpath" option="writeable" />
	 <setting type="sep"/>
	 <setting label="Movie download location:" type="folder" id="moviedownpath" option="writeable" />
	</category>
</settings>
